---
title: European Ordination Program
layout: base
---
<div class="container">
  <div class="min-vh-100 d-flex flex-column">
    <div style="padding-top: 60px">
      {% capture alert_content %}
      The deadline for signing up to the 2025 ordination program ends on 24th May. <a href="{{ "/sign-up/" | relative_url }}" class="alert-link">Click here</a> to sign up now.
      {% endcapture %}
      {% include alert.html content=alert_content %}
    </div>
    <div class="row flex-grow-1" id="choosing-the-monastic-life">
      <div class="col-12 col-md-5 d-flex align-items-end align-items-md-center">
        <img src="{{ "assets/images/Mass-Ordination-4.webp" | relative_url }}" class="img-fluid rounded mx-auto d-block shadow opacity-75 z-n1" alt="...">
      </div>
      <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
        <div class="display-3">
          Choosing the monastic life
        </div>
        <p>
          Why were we born? What is our purpose in life? How do we attain Happiness in life? What did the Buddha teach?
        </p>
      </div>
    </div>
    {% include next-section-link.html link-href="#path-of-ordination" link-text="The path of ordination" %}
  </div>
  <div class="min-vh-100 d-flex flex-column">
    {% include index-title-video.html id="path-of-ordination"
                                      src="https://www.youtube-nocookie.com/embed/p_iDIYavbwU"
                                      title="The path of ordination"
    %}
    {% include next-section-link.html link-href="#why-ordain" link-text="Why ordain?" %}
    </div>
  <div class="min-vh-100 d-flex flex-column">
    {% include index-video-title.html id="why-ordain"
                                      src="https://www.youtube-nocookie.com/embed/U5VxytexduI"
                                      title="Why ordain as a monk?"
    %}
    {% include next-section-link.html link-href="#steps-to-ordination" link-text="Steps to ordaining" %}
  </div>
  <div class="min-vh-100 d-flex flex-column">
    {% include index-title-video.html id="steps-to-ordination"
                                      src="https://www.youtube-nocookie.com/embed/iNUeMI4GzU8"
                                      title="The steps in ordaining"
    %}
    {% include next-section-link.html link-href="#inspiration" link-text="Inspiration" %}
  </div>
  <div class="min-vh-100 d-flex flex-column">
    {% include index-video-title.html id="inspiration"
                                      src="https://www.youtube-nocookie.com/embed/3kiXPFnRLxU"
                                      title="What inspired you to enter the Buddhist monkhood?"
    %}
    {% include next-section-link.html link-href="#benefits" link-text="Benefits" %}
  </div>
  <div class="min-vh-100 d-flex flex-column">
    {% include index-title-video.html id="benefits"
                                      src="https://www.youtube-nocookie.com/embed/G7s6eyVNwkw"
                                      title="Stress and how meditation can relieve it"
    %}
    <div class="row text-center flex-grow-0">
      <a href="#choosing-the-monastic-life" class="link-underline link-underline-opacity-0 py-2 lead">
        Back to top
        <br>
        {% include icons/arrow-up.html %}
      </a>
    </div>
  </div>
</div>