<footer class="footer">
  <div class="container">
    <div class="row">
      <b>European Ordination Program</b>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 footer-description">
        Address of the training program<br>
        <address>
          Wat Phra Dhammakaya Belgium<br>
          Ronkenburgstraat 25, B-9340<br>
          Lede, Aalst<br>
          Belgium<br>
        </address>
          For further information:<br>
          <a href="mailto:info@dhammakaya.nl">info@dhammakaya.nl</a><br>
      </div>
      <div class="col-12 col-sm-6 footer-description">
        World peace through inner peace. A non-profit organisation, whose purpose is to teach meditation for world
        peace.
      </div>
    </div>
  </div>
</footer>
