---
todo: assets/images/2025/1754779983024.jpg

title: Media - European Ordination Program
layout: base
images:
  2025:
    - assets/images/2025/1754780415260-min.jpg
    - assets/images/2025/1754780574722-min.jpg
    - assets/images/2025/1754780455185-min.jpg
    - assets/images/2025/1754780441931-min.jpg
    - assets/images/2025/1754780398305-min.jpg
    - assets/images/2025/1754780483541-min.jpg
    - assets/images/2025/1754780473183-min.jpg
    - assets/images/2025/1765495926274-min.jpg
    - assets/images/2025/1754780036003-min.jpg
    - assets/images/2025/1754780046733-min.jpg
    - assets/images/2025/1754780068006-min.jpg
    - assets/images/2025/1754780013070-min.jpg
    - assets/images/2025/1754779935458-min.jpg
    - assets/images/2025/1754780678482-min.jpg
    - assets/images/2025/1754780688150-min.jpg
    - assets/images/2025/1754780871137-min.jpg
    - assets/images/2025/1754780918399-min.jpg
    - assets/images/2025/1754779959914-min.jpg
    - assets/images/2025/1754780296061-min.jpg
  2023:
    - assets/images/2023/1.jpg
    - assets/images/2023/2.jpg
    - assets/images/2023/3.jpg
    - assets/images/2023/4.jpg
    - assets/images/2023/5.jpg
    - assets/images/2023/6.jpg
    - assets/images/2023/7.jpg
    - assets/images/2023/8.jpg
    - assets/images/2023/9.jpg
    - assets/images/2023/10.jpg
    - assets/images/2023/11.jpg
    - assets/images/2023/12.jpg
    - assets/images/2023/13.jpg
    - assets/images/2023/14.jpg
    - assets/images/2023/15.jpg
    - assets/images/2023/16.jpg
    - assets/images/2023/17.jpg
  2022:
    - assets/images/2022/1658050027481.jpg
    - assets/images/2022/1658050028792.jpg
    - assets/images/2022/1658050029183.jpg
    - assets/images/2022/1658050029617.jpg
    - assets/images/2022/1658050031862.jpg
    - assets/images/2022/1658050032351.jpg
    - assets/images/2022/1658050033218.jpg
    - assets/images/2022/1658050033986.jpg
    - assets/images/2022/1658050034811.jpg
    - assets/images/2022/1658050035174.jpg
    - assets/images/2022/1658050036446.jpg
    - assets/images/2022/1658050036816.jpg
    - assets/images/2022/1658050037198.jpg
    - assets/images/2022/1658050037678.jpg
    - assets/images/2022/1658050038089.jpg
    - assets/images/2022/1658050038492.jpg
    - assets/images/2022/1658050039004.jpg
    - assets/images/2022/1658050039414.jpg
    - assets/images/2022/1658050039816.jpg
    - assets/images/2022/1658050040236.jpg
    - assets/images/2022/1658050040693.jpg
    - assets/images/2022/1658050041153.jpg
    - assets/images/2022/1658050041560.jpg
  2019:
    - assets/images/2019/misc/1.jpg
    - assets/images/2019/misc/2.jpg
    - assets/images/2019/misc/3.jpg
    - assets/images/2019/misc/4.jpg
    - assets/images/2019/misc/5.jpg
    - assets/images/2019/misc/6.jpg
    - assets/images/2019/misc/7.jpg
    - assets/images/2019/misc/8.jpg
    - assets/images/2019/misc/9.jpg
    - assets/images/2019/misc/10.jpg
---
<div class="container">
  <h1 class="display-2 mt-5">
    European Ordination Program 2024
  </h1>
  <p>
    The 2025 European Ordination program took place in June with 13 participants travelling across Europe to participate
    in London.
  </p>
  <div class="row">
    {% for src in page.images[2025] %}
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ src | relative_url }}">
    {% endfor %}
  </div>
  <h1 class="display-2 mt-5">
    European Ordination Program 2023
  </h1>
  <p>
    Between 8<sup>th</sup>-30<sup>th</sup> July 2023, the ninth group of EOP participants were ordinated at Wat Phra Dhammakaya
    Belgium and trained by experienced teaching monks at Wat Dhammakaya Korsør Lystskov.
  </p>
  <div class="row">
    {% for src in page.images[2023] %}
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ src | relative_url }}">
    {% endfor %}
  </div>
  <h1 class="display-2 mt-5">2022</h1>
  <p>
    Between 3<sup>rd</sup>-19<sup>th</sup> June 2022, the eighth group of EOP participants were trained under the guidance of several
    experienced teaching monks at the Dhammakaya Korsør Lystskov Thai temple. In total, ten participants joined to train
    themselves in the monastic discipline, sleeping in simple tents and practicing meditation intensively for a period
    of two weeks. The program was a great success this year, and many of the participants have indicated they would like
    the program to be held longer and would not want to miss it next year.
  </p>
  <div class="row">
    {% for src in page.images[2022] %}
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ src | relative_url }}">
    {% endfor %}
  </div>
  <h1 class="display-2 mt-5">2019</h1>
  <p>
    20 people took part in the program which took place over 4 weeks, between 17th June and 14th July 2019.
  </p>
  <div class="row">
    {% for src in page.images[2019] %}
    <img class="p-3 col-12 col-sm-6 img-fluid" src="{{ src | relative_url }}">
    {% endfor %}
  </div>
  <h1 class="display-2 mt-5">2018</h1>
  <p>
    The program took place over two weeks, starting on the 4th June, and ending on the 15th June 2018. A total of 25
    people took part from 10 countries all over europe.
  </p>
  <div class="row">
    {% for person in site.data.programs[2018] %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center">
      {% include portrait-card.html person=person %}
    </div>
    {% endfor %}
  </div>
</div>
